<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoList - Sumate desde tu celu</title>
    <!-- Bootstrap v 4.6 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/estilos.css">
    <!-- Tipografías -->
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link href = "https://fonts.googleapis.com/css2? family = Roboto + Condensed: wght @ 300 & display = intercambiar "rel ="stylesheet">
</head>
<body>
    <header class="encabezado">
        <h1>
            <img src="../assets/img/AutolistLogo2.PNG" alt="autolist logo">
        </h1>
        <nav>
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link" href="../index.html">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="sobreNosotros.html">Sobre Nosotros</a></li>
                <li class="nav-item"><a class="nav-link active" href="descargas.html">Descarga</a></li>
                <li class="nav-item"><a class="nav-link" href="planes.html">Planes</a></li>
                <li class="nav-item"><a class="nav-link" href="ayuda.html">Ayuda</a></li>
            </ul>
        </nav>    
    </header>
    <div class="container">
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-6 col-md">
                    <h5>Enlaces</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="sobreNosotros.html">Sobre Nosotros</a></li>
                        <li><a class="text-muted" href="#">Nuestro Equipo</a></li>
                        <li><a class="text-muted" href="#">Nuestras Redes</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Producto</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="../index.html">Inicio</a></li>
                        <li><a class="text-muted" href="#">Tips</a></li>
                        <li><a class="text-muted" href="planes.html">Nuestros Planes</a></li>
                        <li><a class="text-muted" href="descargas.html">Descargas</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Soporte y Ayuda</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Preguntas Frecuentas</a></li>
                        <li><a class="text-muted" href="#">Envianos un mensaje</a></li>
                        <li><a class="text-muted" href="#">Escribinos</a></li>
                        <li><a class="text-muted" href="#">Ayuda</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>
</html>