<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>AutoList - Nuestros Planes</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- Bootstrap v 4.6 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/estilos.css">
    <!-- Tipografías -->
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link href = "https://fonts.googleapis.com/css2? family = Roboto + Condensed: wght @ 300 & display = intercambiar "rel ="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="../index.html">
                <img src="../assets/img/AutolistLogo2.PNG" alt="AutoList Logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="planes.html">Planes <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Descargas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="descargasAndroid.html">Android</a>
                            <a class="dropdown-item" href="descargasWindows.html">Windows</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Nosotros
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="sobreNosotros.html">Conocenos</a>
                            <a class="dropdown-item" href="ayuda.html">Contactanos</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a class="btn btn-primary mr-sm-2" href="ingresar.html" role="button">Ingresa</a>
                    <a class="btn btn-outline-secondary my-2 my-sm-0" href="registrarse.html" role="button">Registrate</a>
                </form>
            </div>
        </nav>   
    </header>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Conoce nuestros planes</h1>
    </div>
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Free</h4>
                </div>
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title pricing-card-title">$0</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Stock Disponible</li>
                        <li>Centro de ayuda por mail</li>
                        <li>Lista de compras autogenerada</li>
                        <li>Sincronización entre dispositivos</li>
                        <li>Incorporación de productos Manualmente</li>
                        <hr>
                        <li>Escaneo de ticket <small>Sólo disponible en versiones móviles</small></li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary mt-auto">Registrate gratis</button>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Mensual</h4>
                </div>
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title pricing-card-title">USD$2.5<small class="text-muted"> / mes</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Ticket estimado</li>
                        <li>Ofertas cercanas</li>
                        <li>Stock Disponible</li>
                        <li>Soporte preferencial</li>
                        <li>Recetas recomendadas</li>
                        <li>Lista de compras inteligente</li>
                        <li>Sincronización entre dispositivos</li>
                        <li>Incorporación de productos Manualmente</li>
                        <hr>
                        <li>Escaneo de ticket <small>Sólo disponible en versiones móviles</small></li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary mt-auto">Probalo gratis 7 días</button>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Anual</h4>
                </div>
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title pricing-card-title">USD$25<small class="text-muted"> / año</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Ticket estimado</li>
                        <li>Ofertas cercanas</li>
                        <li>Stock Disponible</li>
                        <li>Soporte preferencial</li>
                        <li>Recetas recomendadas</li>
                        <li>Lista de compras inteligente</li>
                        <li>Sincronización entre dispositivos</li>
                        <li>Incorporación de productos Manualmente</li>
                        <hr>
                        <li>Escaneo de ticket <small>Sólo disponible en versiones móviles</small></li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary mt-auto">Probalo gratis 7 días</button>
                </div>
            </div>
        </div>
        <hr>
        <footer>
            <div class="row">
                <div class="col-6 col-md">
                    <h5>Enlaces</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="sobreNosotros.html">Conocenos</a></li>
                        <li><a class="text-muted" href="#">Nuestras Redes </a><span class="badge badge-secondary">Próximamente</span></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Producto</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="../index.html">Inicio</a></li>
                        <li><a class="text-muted" href="#">Tips </a><span class="badge badge-secondary">Próximamente</span></li>
                        <li><a class="text-muted" href="planes.html">Nuestros Planes</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Soporte y Ayuda</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="ayuda.html">Envianos un mensaje</a></li>
                        <li><a class="text-muted" href="#">Escribinos </a><span class="badge badge-secondary">Próximamente</span> </li>
                    </ul>
                </div>
            </div>
            <h6>Todos los derechos reservados, by V.Irina Lapegna</h6>
        </footer>
    </div>


    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
</body>

</html>