<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoList - ¿Cómo te podemos ayudar?</title>
    <!-- Bootstrap v 4.6 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/estilos.css">
    <!-- Tipografías -->
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link href = "https://fonts.googleapis.com/css2? family = Roboto + Condensed: wght @ 300 & display = intercambiar "rel ="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="../index.html">
                <img src="../assets/img/AutolistLogo2.PNG" alt="AutoList Logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="planes.html">Planes</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Descargas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="descargasAndroid.html">Android</a>
                            <a class="dropdown-item" href="descargasWindows.html">Windows</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Nosotros
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="sobreNosotros.html">Conocenos</a>
                            <a class="dropdown-item" href="ayuda.html">Contactanos</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a class="btn btn-primary mr-sm-2" href="ingresar.html" role="button">Ingresa</a>
                    <a class="btn btn-outline-secondary my-2 my-sm-0" href="registrarse.html" role="button">Registrate</a>
                </form>
            </div>
        </nav>   
    </header>   
    <div class="container col-6">
        <!-- Ingresar con Google -->
        <div>
            <a class="btn btn-outline-dark btn-lg btn-block" href="/users/googleauth" role="button" style="text-transform:none">
                <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    Registrate con Google
            </a>
        </div>
        <hr>
        <!-- Formulario de ingreso -->
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="username" placeholder="Nombre de usuario">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="correo" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="contraseña" placeholder="Contraseña">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="verificarContraseña" placeholder="Por favor, repita la contraseña">
            </div>
            <div class=" form-group form-row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Nombre" id="Nombre">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Apellido" id="Apellido">
                </div>
            </div>
            <div class="form-group form-row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Ciudad" id="Ciudad">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Localidad" id="Localidad">
                </div>
            </div>
                     
            <button type="submit" class="btn btn-primary btn-lg btn-block">Ingresar</button>
        </form>
    </div>
    <!-- Footer -->
    <div class="container">
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-6 col-md">
                    <h5>Enlaces</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="sobreNosotros.html">Sobre Nosotros</a></li>
                        <li><a class="text-muted" href="#">Nuestro Equipo</a></li>
                        <li><a class="text-muted" href="#">Nuestras Redes</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Producto</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="../index.html">Inicio</a></li>
                        <li><a class="text-muted" href="#">Tips</a></li>
                        <li><a class="text-muted" href="planes.html">Nuestros Planes</a></li>
                        <li><a class="text-muted" href="descargas.html">Descargas</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Soporte y Ayuda</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Preguntas Frecuentas</a></li>
                        <li><a class="text-muted" href="#">Envianos un mensaje</a></li>
                        <li><a class="text-muted" href="#">Escribinos</a></li>
                        <li><a class="text-muted" href="#">Ayuda</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <!-- JS -->
        
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>
</html>